* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: #DAD6D6;
  font-family: 'Oswald', sans-serif;
}

.btn {
  font-size: 20px;
  color: #fff;
  background-color: #984447;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn:hover {
  color: #984447;
  background-color: #FFF;
  border: 1px solid #984447;
}

/*** NAV STYLING ***/

#nav {
  background-color: #4472CA;
}

.nav-active {
  border-left: 2px solid #FFF;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Yellowtail', cursive;
}

.nav-link {
  font-size: 18px;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

/*** HEADER STYLING ***/

#header {
  background: url(../../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  color: #ADD9F4;
}

.dark-overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header-col {
  height: 100vh;
  width: 100%;
}

#header .flex-column {
  height: 100vh;
  width: 100%;
}

#header h1 {
  font-size: 70px;
  opacity: 0;
  animation-name: header-fade;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#header h2 {
  font-size: 45px;
  opacity: 0;
  animation-name: header-fade;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fa-angle-down {
  font-size: 65px;
  position: absolute;
  left: 50%;
  top: 88%;
  opacity: 0;
  animation-name: arrow-flash;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/*** INTRO STYLING ***/

#intro h3 {
  font-size: 40px;
}

#intro .portrait {
  width: 85%;
  border-radius: 30px;
  border: 3px solid #FFF;
  display: block;
  margin: 0 auto;
}

#intro p {
  font-size: 20px;
  line-height: 1.6;
}

.btn-about {
  display: inline-block;
}

/*** PORTFOLIO STYLING ***/

#portfolio-head {
  background-color: #0A369D;
  color: #FFF;
}

#portfolio-head h3 {
  font-size: 40px;
}

#portfolio-head p {
  font-size: 20px;
  letter-spacing: 1px;
}

#portfolio {
  height: 300px;
}

/*** FOOTER STYLING ***/
#footer {
  background-color: #4472CA;
  color: #FFF;
}

#footer .footer-icons {
  font-size: 30px;
}

#footer a {
  color: #FFF;
  text-decoration: none;
}

#footer .flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*** ANIMATIONS ***/

@keyframes arrow-flash {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes header-fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
